php_value display_errors On
php_flag magic_quotes 1
php_flag magic_quotes_gpc 1
php_value mbstring.http_input auto
php_value date.timezone Asia/Vientiane
// Thêm WWW vào URL
     RewriteEngine On
     RewriteBase /
     RewriteCond %{HTTP_HOST} !^www.k5team.cf$ [NC]
     RewriteRule ^(.*)$ http://www.k5team.cf/$1 [L,R=301]
//404
ErrorDocument 401 /404-Page/404.php
ErrorDocument 403 /404-Page/404.php
ErrorDocument 404 /404-Page/404.php
ErrorDocument 500 /404-Page/404.php
